body {
    background-color: rgb(245, 234, 222);
}

#header {
    height: 10%;
    width: 100%;
    background-color: black;
    display: inline-flex;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 7px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    align-items: center;
    justify-content: space-between;
}

.name {
    font-size: 37px;
    font-weight: 700;
    text-align: center;
}

.nav {
    font-size: 28px;
    display: flex;
    margin: auto;
}

.nav ul {
    float: right;
    list-style-type: none;
    width: 100%;
    display: flex;
}

#contnt1 {
    height: 40%;
    width: 100%;
    background-color: white:
}

#content2 {
    height: 40%;
    width: 100%;
    background-color: gray:
}

#footer {
    height: 10%;
    width: 100%;
    background-color: black:
}