body {
    background-color: rgb(245, 234, 222);
}

#header {
    height: 10%;
    width: 100%;
    background-color: black: display: inline-flex;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 7px;
    top: 0;
    position: -webkit-sticky;
    position: sticky;
}

#contnt1 {
    height: 40%;
    width: 100%;
    background-color: white:
}

#content2 {
    height: 40%;
    width: 100%;
    background-color: gray:
}

#footer {
    height: 10%;
    width: 100%;
    background-color: black:
}