body {
    background-color: rgb(245, 234, 222);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 550px;
}

#header {
    height: 55px;
    width: 100%;
    background-color: black;
    display: inline-flex;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 7px;
    color: white;
    align-items: center;
    justify-content: space-between;
}

.name {
    font-size: 28px;
    font-weight: 700;
    text-align: center;
}

.nav {
    font-size: 21px;
    display: flex;
}

.nav ul {
    float: right;
    list-style-type: none;
    width: 100%;
    display: flex;
    align-content: space-evenly;
}

.nav ul li {
    padding: 2.4em;
}

#content1 {
    height: 340px;
    width: 100%;
    background-color: grey;
    display: inline-flex;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 7px;
    color: white;
    align-items: center;
    justify-content: space-between;
}

.rkpic img {
    width: 45%;
    height: 340px;
}

figcaption {
    font-weight: 300;
    font-size: 18px;
}

#content2 {
    height: 100px;
    width: 100%;
    background-color: grey;
    display: inline-flex;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 7px;
    color: white;
    align-items: center;
    justify-content: space-between;
}

#footer {
    height: 55px;
    width: 100%;
    background-color: black;
    display: inline-flex;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 7px;
    color: white;
    align-items: center;
    justify-content: space-between;
}